#home {
  background-image: url(https://img.freepik.com/premium-photo/modern-smartphone-podium-black-background-d-render_77190-7381.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.title h3 {
  font-size: 50px;
  color: white;
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 10%;
}

#home-para {
  margin-top: 15px;
  color: white;
  line-height: 35px;
  margin-left: 8%;
  margin-right: 8%;
}

.title p {
  color: white;
  margin-bottom: 10px;
}

/* Explore More button */
.title a {
  border: 1px solid white;
  padding: 10px 18px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  margin: 15px 0;
  border-radius: 5px;
  margin-left: 8%;
}

.title a:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

@media (max-width: 768px) {
  #home-para {
    font-size: 0.9rem; 
    margin-left: 5%; 
    margin-right: 5%; 
    line-height: 30px; 
  }

  .title h3 {
    font-size: 36px; 
    padding-top: 30%; 
    margin-left: 5%;
    margin-right: 5%;
  }

  .title a {
    padding: 8px 15px; 
    margin-left: 5%;
    margin-right: 5%;
  }
}
