<app-header></app-header>


<section id="home" class="home">


  <!-- section 1 -->
  <div class="title">
      <h3>   <b> DIAL APP</b></h3>
      <p id="home-para">Dial App ...! Get up to date contact information with a simple and free
        cross-platform contact app <br />that sync across multiple accounts and
        device automatically. Easily add contact and edit information <br />like
        phone number, name, email etc...</p>

      <a routerLink="/list">Explore More</a>
  </div>

  
</section>
